## Merging WBI dataset with cyclone dataset

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Importing WBI Dataset (the final and cleaned one, called OUTPUT....)
df_WBI = pd.read_csv('Data_output/WBI_Final_IL.csv', sep=';', low_memory = False)

In [4]:
#Importing cyclones dataset... 
df_cyclones = pd.read_csv('Data_input/OUTPUT_WBI_exposer_cyclones_v11.csv', sep=';', low_memory = False)

In [5]:
df_WBI.sample(3)

,Year,Country Code,Country Name,Arable land (hectares per person),Cereal yield (kg per hectare),Food production index (2004-2006 = 100),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
624,2005,CRI,Costa Rica,0.049002,3189.1,97.76,6892.923180,3.810000e+06,78.11700,83.930709,4.232227,34.328,High_Middle
312,1977,CAN,Canada,1.840862,2265.9,55.85,27615.731470,0.000000e+00,74.21561,2.609096,6.400000,24.457,High
4256,2016,ZAF,South Africa,0.222405,3818.6,116.66,7476.621012,2.110303e+07,63.15300,46.330985,5.779490,34.659,High_Middle

In [6]:
df_cyclones.sample(3)

,SID,NAME,BASIN,SUB BASIN,ISO,YEAR,MONTH_START,MONTH_END,DATE_START,DATE_END,...,34KN_ASSETS,96KN_ASSETS,POP_DEN_SQ_KM,RURAL_POP(%),POP_TOTAL,RURAL_POP,HDI,TOTAL_DAMAGE_(000$),TOTAL_DEATHS,TOTAL_AFFECTED
558,2005261N21290,RITA,NAm,GM,USA,2005,9,9,2005-09-20 18:00:00,2005-09-26 06:00:00,...,2.207670e+12,8.876090e+10,32.3,20.1,295000000,5.929500e+07,0.896,16000000.0,10.0,300000
552,2005237N14148,TALIM,WP,WP,TWN,2005,8,9,2005-08-31 15:00:00,2005-09-01 00:00:00,...,4.137190e+12,8.296658e+10,641.0,27.7,22705713,6.289483e+06,0.750,38000.0,3.0,59
535,2004288N09164,NOCK-TEN,WP,WP,TWN,2004,10,10,2004-10-24 18:00:00,2004-10-25 12:00:00,...,2.632490e+12,7.829500e+08,640.0,28.2,22570224,6.364803e+06,0.740,NaN,7.0,1700

In [7]:
df_WBI.dtypes

Year                                                     int64
Country Code                                            object
Country Name                                            object
Arable land (hectares per person)                      float64
Cereal yield (kg per hectare)                          float64
Food production index (2004-2006 = 100)                float64
GDP per capita (constant 2010 US$)                     float64
Net flows from UN agencies US$                         float64
Life expectancy at birth, total (years)                float64
Population density (people per sq. km of land area)    float64
Adjusted savings: education expenditure (% of GNI)     float64
Rural population (% of total population)               float64
Income_level_Final                                      object
dtype: object

In [8]:
df_cyclones.dtypes

SID                         object
NAME                        object
BASIN                       object
SUB BASIN                   object
ISO                         object
YEAR                         int64
MONTH_START                  int64
MONTH_END                    int64
DATE_START                  object
DATE_END                    object
DATE_LAND_START             object
DATE_LAND_END               object
TOTAL_HOURS_EVENT          float64
TOTAL_HOURS_IN_LAND        float64
NATURE                      object
GENERAL_CATEGORY            object
MAX_WIND                   float64
MIN_PRES                     int64
MIN_DIST2LAND                int64
MAX_STORMSPEED             float64
MAX_USA_SSHS                 int64
MAX_USA_SSHS_INLAND         object
V_LAND_KN                  float64
COORDS                      object
COORDS_MAX_WINDS            object
COORDS_MIN_DIST2LAND        object
DISTANCE_TRACK             float64
DISTANCE_TRACK_VINCENTY    float64
34KN_POP                   float64
64KN_POP                   float64
96KN_POP                   float64
POP_MAX_34_ADJ             float64
POP_MAX_50_ADJ             float64
POP_MAX_64_ADJ             float64
POP_MAX_34                 float64
POP_MAX_50                 float64
POP_MAX_64                 float64
64KN_ASSETS                float64
34KN_ASSETS                float64
96KN_ASSETS                float64
POP_DEN_SQ_KM              float64
RURAL_POP(%)               float64
POP_TOTAL                    int64
RURAL_POP                  float64
HDI                        float64
TOTAL_DAMAGE_(000$)        float64
TOTAL_DEATHS               float64
TOTAL_AFFECTED               int64
dtype: object

In [9]:
df_cyclones.shape

(1019, 48)

### Merging datasets

In [10]:
# in cyclones Dataset ISO for SouthAfrica is RSA and should be ZAF
df_cyclones["ISO"]= df_cyclones["ISO"].replace('RSA', 'ZAF')

In [11]:
df_cyclones = pd.merge(df_cyclones, df_WBI, how='left', left_on=['ISO', 'YEAR'], right_on= ['Country Code', 'Year'])

In [12]:
# drop inherited and not needed columns from df_WBI
df_cyclones = df_cyclones.drop(columns = ['Country Code', 'Country Name'])

In [13]:
df_cyclones.head()

,SID,NAME,BASIN,SUB BASIN,ISO,YEAR,MONTH_START,MONTH_END,DATE_START,DATE_END,...,Arable land (hectares per person),Cereal yield (kg per hectare),Food production index (2004-2006 = 100),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1949163N07145,DELLA,WP,WP,JPN,1949,6,6,1949-06-19 09:00:00,1949-06-24 06:00:00,...,0.059615,4173.5,67.79,8607.657082,0.0,67.666098,258.911917,2.867878,36.728,Low
1,1950241N23140,JANE,WP,WP,JPN,1950,8,9,1950-08-30 03:00:00,1950-09-05 00:00:00,...,0.059615,4173.5,67.79,8607.657082,0.0,67.666098,258.911917,2.867878,36.728,Low
2,1951224N12316,CHARLIE,NAm,CS,JAM,1951,8,8,1951-08-17 21:00:00,1951-08-18 12:00:00,...,0.100541,868.3,69.93,3796.219401,0.0,64.770000,152.453647,2.578304,66.231,Low
3,1951337N09150,AMY,WP,WP,PHL,1951,12,12,1951-12-07 09:00:00,1951-12-17 00:00:00,...,0.180442,996.3,25.68,1059.467412,0.0,61.105000,91.065000,2.757732,69.703,Low_Middle
4,1952180N05144,EMMA,WP,WP,PHL,1952,7,7,1952-07-01 06:00:00,1952-07-04 18:00:00,...,0.180442,996.3,25.68,1059.467412,0.0,61.105000,91.065000,2.757732,69.703,Low_Middle

In [14]:
df_cyclones.columns

Index(['SID', 'NAME', 'BASIN', 'SUB BASIN', 'ISO', 'YEAR', 'MONTH_START',
       'MONTH_END', 'DATE_START', 'DATE_END', 'DATE_LAND_START',
       'DATE_LAND_END', 'TOTAL_HOURS_EVENT', 'TOTAL_HOURS_IN_LAND', 'NATURE',
       'GENERAL_CATEGORY', 'MAX_WIND', 'MIN_PRES', 'MIN_DIST2LAND',
       'MAX_STORMSPEED', 'MAX_USA_SSHS', 'MAX_USA_SSHS_INLAND', 'V_LAND_KN',
       'COORDS', 'COORDS_MAX_WINDS', 'COORDS_MIN_DIST2LAND', 'DISTANCE_TRACK',
       'DISTANCE_TRACK_VINCENTY', '34KN_POP', '64KN_POP', '96KN_POP',
       'POP_MAX_34_ADJ', 'POP_MAX_50_ADJ', 'POP_MAX_64_ADJ', 'POP_MAX_34',
       'POP_MAX_50', 'POP_MAX_64', '64KN_ASSETS', '34KN_ASSETS', '96KN_ASSETS',
       'POP_DEN_SQ_KM', 'RURAL_POP(%)', 'POP_TOTAL', 'RURAL_POP', 'HDI',
       'TOTAL_DAMAGE_(000$)', 'TOTAL_DEATHS', 'TOTAL_AFFECTED', 'Year',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Population density (people per sq. km of land area)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Rural population (% of total population)', 'Income_level_Final'],
      dtype='object')

In [16]:
# Dropping unnecessary columns
'''
df_cyclones = df_cyclones.drop(['TRACK_TYPE',
                                'NUM_AFFECTED',
                                'NUM_HOMELESS',
                                'NUM_INJURED',
                                'Year'
                               ], 
                               axis=1)
'''

"\ndf_cyclones = df_cyclones.drop(['TRACK_TYPE',\n                                'NUM_AFFECTED',\n                                'NUM_HOMELESS',\n                                'NUM_INJURED',\n                                'Year'\n                               ], \n                               axis=1)\n"

In [17]:
df_cyclones.shape

(1019, 59)

## Adding TOTAL POPULATION columns: Population of the country X if year before 2000

In [16]:
# loading file containing population for countries for each year

#Importing population by year
#df_Pop_year = pd.read_csv('C:/Users/torre/Google Drive/IEBS GoogleDrive/IEBS/OmdenaWFP/XT Omdena/Data_collection/POPULATION_byYear_byCountry.csv', sep=';', low_memory = False)

#Importing population for years 2000, 2005, 2010, 2015
#df_Pop_trenches = pd.read_csv('C:/Users/torre/Google Drive/IEBS GoogleDrive/IEBS/OmdenaWFP/XT Omdena/Data_collection/Population_YR_trenches.csv', sep=';', low_memory = False)

In [17]:
#df_cyclones = pd.merge(df_cyclones, df_Pop_year, how='left', left_on=['ISO', 'YEAR'], right_on= ['Country Code', 'Year'])

In [18]:
#df_cyclones.shape

(1005, 44)

In [26]:
df_cyclones = df_cyclones.drop(['Year'], axis=1)

In [20]:
#df_cyclones = pd.merge(df_cyclones, df_Pop_trenches, how='left', left_on=['ISO'], right_on= ['ISO'])

In [21]:
df_cyclones.shape

(1005, 47)

In [27]:
df_cyclones.columns

Index(['SID', 'NAME', 'BASIN', 'SUB BASIN', 'ISO', 'YEAR', 'MONTH_START',
       'MONTH_END', 'DATE_START', 'DATE_END', 'DATE_LAND_START',
       'DATE_LAND_END', 'TOTAL_HOURS_EVENT', 'TOTAL_HOURS_IN_LAND', 'NATURE',
       'GENERAL_CATEGORY', 'MAX_WIND', 'MIN_PRES', 'MIN_DIST2LAND',
       'MAX_STORMSPEED', 'MAX_USA_SSHS', 'MAX_USA_SSHS_INLAND', 'V_LAND_KN',
       'COORDS', 'COORDS_MAX_WINDS', 'COORDS_MIN_DIST2LAND', 'DISTANCE_TRACK',
       'DISTANCE_TRACK_VINCENTY', '34KN_POP', '64KN_POP', '96KN_POP',
       'POP_MAX_34_ADJ', 'POP_MAX_50_ADJ', 'POP_MAX_64_ADJ', 'POP_MAX_34',
       'POP_MAX_50', 'POP_MAX_64', '64KN_ASSETS', '34KN_ASSETS', '96KN_ASSETS',
       'POP_DEN_SQ_KM', 'RURAL_POP(%)', 'POP_TOTAL', 'RURAL_POP', 'HDI',
       'TOTAL_DAMAGE_(000$)', 'TOTAL_DEATHS', 'TOTAL_AFFECTED',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Income_level_Final'],
      dtype='object')

In [29]:
df_cyclones.shape

(1019, 56)

## Final arrangements and saving to csv

In [31]:
# Arranging columns

df_cyclones = df_cyclones[[
    
    # cyclone related columns
    'SID', 'NAME',  'ISO', 'YEAR', 'COORDS', 'COORDS_MAX_WINDS', 'COORDS_MIN_DIST2LAND',
    'BASIN', 'SUB BASIN','MONTH_START',
       'MONTH_END', 'DATE_START', 'DATE_END', 'DATE_LAND_START',
       'DATE_LAND_END', 'TOTAL_HOURS_EVENT', 'TOTAL_HOURS_IN_LAND', 'NATURE',
       'GENERAL_CATEGORY', 'MAX_WIND', 'MIN_PRES', 'MIN_DIST2LAND',
       'MAX_STORMSPEED', 'MAX_USA_SSHS', 'MAX_USA_SSHS_INLAND', 'V_LAND_KN',
        'DISTANCE_TRACK',
       'DISTANCE_TRACK_VINCENTY', '34KN_POP', '64KN_POP', '96KN_POP',

    '64KN_ASSETS', '34KN_ASSETS', '96KN_ASSETS',
       
       'TOTAL_DAMAGE_(000$)', 'TOTAL_DEATHS',
                           
       #  here features from World Bank Indicators:
     'POP_DEN_SQ_KM', 'RURAL_POP(%)', #'POP_TOTAL', 'RURAL_POP', 
        'HDI',
    
        'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Income_level_Final',
    
        # features from climada
           'POP_MAX_34_ADJ', 'POP_MAX_50_ADJ', 'POP_MAX_64_ADJ', 
            #'POP_MAX_34','POP_MAX_50', 'POP_MAX_64', 
        
         # Target label                   
        'TOTAL_AFFECTED'
                     
        ]]

In [32]:
df_cyclones.sort_values(by = 'SID',ascending=True, inplace=True)

C:\Users\torre\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df_cyclones.shape

(1019, 51)

In [34]:
# checking that all rows from cyclones have info from WBI dataset
df_cyclones['Income_level_Final'].isna().sum()

0

In [21]:
# checking that all rows from cyclones have info from population
# df_cyclones['Population, total'].isna().sum()

In [28]:
# checking that all rows from cyclones have info from population
# df_cyclones['Population_2000'].isna().sum()

0

In [29]:
# checking that all rows from cyclones have info from population
# df_cyclones['Population_2020'].isna().sum()

267

In [35]:
# Writing to csv the final Dataset to be merged with other dataset from cyclones...

df_cyclones.to_csv(r'Data_output/OUTPUT_WBI_exposer_cyclones_v12.csv', index = False, sep = ';')